extends layout

block content 
    h2 #{country.name}
    p #{country.region}, #{country.subregion}
    form(action=`/countries/${country.id}`, method="POST")
        input(type="text", name="name", placeholder="Type updated name here")
        input(type="submit")